* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Chilanka', cursive;
	font-weight: bold;
}
body {
	margin: 0 auto;
	position: relative;
}

div.sect-con:after {
	content: "";
	display: block;
	clear: both;
}

/**Header Style**/
header {
	width: 100%;
}

header h1{
	font-weight: bolder;
	text-align: center;	
	padding: 25px 0px 35px 0px;
}


/**Section Style**/
section div.header-con {
	width: 130px;
	text-align: center;
	position: absolute;
	border-left: 1px solid #141414;
	border-bottom: 1px solid #141414;
	right: 0px;
}

section div.inner-sect {
	height: 60%;
	position: relative;
	border: 1px solid #141414;
	background-color: #999998;
}

section div.inner-sect-1 h2{
	padding-top: 5px;
	background-color: #D59898;
	color: #000;
}

section div.inner-sect-2 h2{
	padding-top: 5px;
	background-color: #C14543;
	color: #fff;
}

section div.inner-sect-3 h2{
	padding-top: 5px;
	background-color: #E5D198;
	color: #000;
}

section p {
	padding: 45px 5px 0px 5px;
	line-height: 1.3em;
	word-spacing: 3px;
}

/* Desktop version only */
@media (min-width: 992px) {
  body {
      margin: 0px 10px;
  }
	div.inner-sect {
		margin: 0% 3% 0% 3%;
		padding: 0px 8px 10px 20px;	
	}
  .col-lg-4, .col-lg-6, .col-lg-12 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Tablet devices only */
@media (min-width: 768px) and (max-width: 991px) {
  body {
      margin: 0px 10px;
  }
	div.inner-sect {
		margin: 0% 0%;
		padding: 0px 8px 10px 20px;	
	}
	div.inner-sect-1,
	div.inner-sect-2  {
		margin: 0% 3%;
	}
	div.inner-sect-3 {
		margin: 3% 1.5%;
	}
  .col-td-4, .col-td-6, .col-td-12 {
    float: left;
  }
  .col-td-4 {
    width: 33.33%;
  }
  .col-td-6 {
    width: 50%;
  }
  .col-td-12 {
    width: 100%;
  }
}

/* Mobile devices only */
@media (max-width: 767px) {
	div.inner-sect {
		margin: 3% 5%;
		padding: 0px 10px 10px 5px;	
	}
  .col-md-4, .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}